<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Nopcommerce Regression Suite">
     
   <test name="Nopcommerce Login Regression Suite" enabled="false">
     <classes>
       <class name="com.hrms.test.LoginRegressionSuite"/>
     </classes>
   </test>
           
    <test name="Nopcommerce DashBoard Regression Suite">
     <classes>
       <class name="com.hrms.test.DashboardRegressionSuite"/>
     </classes>
   </test> 
   
</suite>
